body { 
   background-color: burlywood;
   color: black;

}
.tiles {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    justify-content: center;
}

li {
   list-style-type: none;
}
.center {
    text-align: center;
    color: black;
}
.filmHeader {
    align-items: center;
}
.form-group {
    display: flex;
    gap: 1rem;
    font-size: large;
}